@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
:root {
  --frost-500: #f5f7fa;
  --frost-600: hsl(216, 8%, 88%);
  --charcoal-500: #3c4c5b;
  --charcoal-400: #63707c;
  --teal-500: #07b6d4;
  --text-5xl: 3rem;
  --text-4xl: 2.25rem;
  --text-2xl: 1.5rem;
  --text-xl: 1.25rem;
  --text-lg: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--frost-500);
  color: white;
  font-family: "Outfit", sans-serif;
}

.odoo-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  position: fixed;
  z-index: 9999;
}

.odoo-nav {
  width: 100%;
  z-index: 9999;
  height: 60px;
  max-width: 44.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.6rem;
  border-radius: 3.75rem;
  border: 1px solid var(--frost-600);
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.odoo-nav-list {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  list-style: none;
}

.odoo-logo {
  margin-left: 1rem;
}

.odoo-link {
  color: var(--charcoal-500);
  text-decoration: none;
}

.odoo-button {
  display: flex;
  padding: 0.625rem 1.66875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.75rem;
  background: var(
    --grad,
    linear-gradient(
      90deg,
      var(--ocean-500, #0ea5e9) 0%,
      var(--teal-500, #07b6d4) 74.07%
    )
  );

  text-decoration: none;
  color: var(--frost-500);
}

.odoo-hero {
  height: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(245, 247, 250, 0.24) 37.16%,
    rgba(7, 182, 212, 0.6) 100%
  );

  overflow: hidden;
}

.odoo-hero-content {
  width: 100%;
  max-width: 1200px;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 250px;
}

.odoo-hero-title {
  font-size: var(--text-5xl);
  color: #3c4c5b;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 100%;
  max-width: 788px;
}

.highlight {
  background: var(
    --grad,
    linear-gradient(
      90deg,
      var(--ocean-500, #0ea5e9) 0%,
      var(--teal-500, #07b6d4) 74.07%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-hero {
  color: var(--charcoal-400, #63707c);
  text-align: center;
  width: 100%;
  max-width: 788px;
  font-size: var(--text-xl, 1.25rem);
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 140% */
}

.hero-button {
  margin-top: 2rem;
}

.dashboard-icons {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 540px;
}

.icons-left {
  display: flex;
  gap: 32px;
}

.icons-right {
  display: flex;
  gap: 32px;
}

.icon1 {
  border-radius: 1.5rem;
  background: var(--frost-50, #fefeff);
  box-shadow:
    -163px 176px 67px 0 rgba(0, 0, 0, 0),
    -104px 112px 61px 0 rgba(0, 0, 0, 0.01),
    -59px 63px 52px 0 rgba(0, 0, 0, 0.03),
    -26px 28px 38px 0 rgba(0, 0, 0, 0.06),
    -7px 7px 21px 0 rgba(0, 0, 0, 0.06);
  display: flex;
  width: 5.66675rem;
  height: 5.66675rem;
  padding: 1.52088rem;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
}

.icon2 {
  border-radius: 1.5rem;
  background: var(--frost-50, #fefeff);
  box-shadow:
    -163px 176px 67px 0 rgba(0, 0, 0, 0),
    -104px 112px 61px 0 rgba(0, 0, 0, 0.01),
    -59px 63px 52px 0 rgba(0, 0, 0, 0.03),
    -26px 28px 38px 0 rgba(0, 0, 0, 0.06),
    -7px 7px 21px 0 rgba(0, 0, 0, 0.06);

  display: flex;
  width: 5.66675rem;
  height: 5.66675rem;
  padding: 1.52088rem;
  justify-content: center;
  align-items: center;
}

.icon3 {
  display: flex;
  width: 5.66675rem;
  height: 5.66675rem;
  padding: 1.52088rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: var(--frost-50, #fefeff);
  box-shadow:
    124px 255px 80px 0 rgba(0, 0, 0, 0),
    79px 164px 73px 0 rgba(0, 0, 0, 0.01),
    45px 92px 61px 0 rgba(0, 0, 0, 0.05),
    20px 41px 45px 0 rgba(0, 0, 0, 0.09),
    5px 10px 25px 0 rgba(0, 0, 0, 0.1);
}

.icon4 {
  display: flex;
  width: 5.66675rem;
  height: 5.66675rem;
  padding: 1.52088rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  background: var(--frost-50, #fefeff);
  box-shadow:
    124px 255px 80px 0 rgba(0, 0, 0, 0),
    79px 164px 73px 0 rgba(0, 0, 0, 0.01),
    45px 92px 61px 0 rgba(0, 0, 0, 0.05),
    20px 41px 45px 0 rgba(0, 0, 0, 0.09),
    5px 10px 25px 0 rgba(0, 0, 0, 0.1);
  margin-top: 6rem;
}

.dashboard-image {
  margin-top: 128px;
  box-shadow:
    537px -372px 183px 0 rgba(0, 0, 0, 0),
    344px -238px 167px 0 rgba(0, 0, 0, 0.01),
    193px -134px 141px 0 rgba(0, 0, 0, 0.02),
    86px -60px 105px 0 rgba(0, 0, 0, 0.03),
    21px -15px 57px 0 rgba(0, 0, 0, 0.04);
  border-radius: 32px;
}

.value-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  flex-direction: column;
  gap: 2.25rem;
}

.value-tags {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.certifications {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 100px));
  place-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 900px;
}

.tag {
  color: var(--charcoal-500);
  font-size: var(--text-xl);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.problem-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 136px;
}

.problem-content {
  width: 100%;
  max-width: 1200px;
}

.problem-text {
  width: 813px;
}

.dark-main-title {
  color: var(--charcoal-500);
  font-size: var(--text-4xl);
  font-weight: 600;
}

.white-main-title {
  font-size: var(--text-4xl);
  font-weight: 600;
  color: var(--frost-500);
}

.text {
  color: var(--charcoal-500);
  font-size: var(--text-xl);
  margin-top: 24px;
  line-height: 1.75rem;
}

.card-title {
  color: var(--charcoal-500);
  font-weight: 500;
  font-size: var(--text-2xl);
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
  margin-top: 82px;
}

.card {
  background: #f5f7fa;
  border-radius: 2rem;
  padding: 1.5rem;
  grid-area: span 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  /* Neumorphism */
  box-shadow:
    1px 1px 2px 0 rgba(255, 255, 255, 0.3) inset,
    -1px -1px 2px 0 rgba(235, 237, 240, 0.5) inset,
    -10px 10px 20px 0 rgba(235, 237, 240, 0.5),
    10px -10px 20px 0 rgba(235, 237, 240, 0.5),
    -10px -10px 20px 0 rgba(255, 255, 255, 0.4),
    10px 10px 25px 0 rgba(235, 237, 240, 0.4);
}

.card-bottom {
  padding: 2rem;
  grid-area: span 2 / span 3;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow:
    1px 1px 2px 0 rgba(255, 255, 255, 0.3) inset,
    -1px -1px 2px 0 rgba(235, 237, 240, 0.5) inset,
    -10px 10px 20px 0 rgba(235, 237, 240, 0.2),
    10px -10px 20px 0 rgba(235, 237, 240, 0.2),
    -10px -10px 20px 0 rgba(255, 255, 255, 0.9),
    10px 10px 25px 0 rgba(235, 237, 240, 0.9);

  border-radius: 2rem;
}

.steps-section {
  background:
    linear-gradient(
      178deg,
      rgba(25, 32, 38, 0.25) -23.73%,
      var(--charcoal-900, #192026) 94.66%
    ),
    url("../images/steps-bg.webp") lightgray 0px -701.035px / 100% 253.193%;
  height: 860px;
  width: 100%;
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.steps-main-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.steps-left-content {
  width: 600px;
}

.steps-right-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.step-wrapper {
  width: 452px;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.44rem;
}

.step-card {
  width: 380px;
  height: 225px;
  border-radius: 1.10625rem;
  background: rgba(15, 23, 42, 0.31);
  box-shadow: 0 7px 23.9px 0 rgba(7, 182, 212, 0.4);
  backdrop-filter: blur(6.650000095367432px);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.step-card-icon {
  width: 3.3rem;
  height: 3.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0ea5e9;
  border-radius: 10px;
}

.step-card-title {
  background: var(
    --grad,
    linear-gradient(
      90deg,
      var(--ocean-500, #0ea5e9) 0%,
      var(--teal-500, #07b6d4) 74.07%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: var(--text-2xl);
  font-weight: 600;
}

.step-card-text {
  font-size: var(--text-xl);
}

.step-number {
  width: 3rem;
  height: 3rem;
  background: rgba(13, 13, 22, 0.5);
  border-radius: 30px;
  border: 2px solid #0ea5e9;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-number-final {
  width: 3rem;
  height: 3rem;
  background: rgba(13, 13, 22, 0.5);
  border-radius: 30px;
  border: 2px solid #0ea5e9;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.step-number::after {
  content: "";
  width: 230px;
  height: 2px;
  position: absolute;
  background-color: var(--charcoal-400);
  transform: rotate(90deg);
  top: 160px;
}

.traits {
  height: 675px;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(245, 247, 250, 0.24) 37.16%,
    rgba(7, 182, 212, 0.4) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.traits-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.traits-main-content {
  width: 580px;
}

.traits-list {
  width: 500px;
  margin-top: 50px;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.trait {
  display: flex;
  gap: 1rem;
  color: var(--charcoal-500);
  font-size: var(--text-xl);
  align-items: flex-start;
}

.whatsapp-button {
  width: 100%;
  display: flex;
  justify-content: end;
  position: relative;
}

.why-odoo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 128px;
}

.why-odoo-main-wrapper {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 64px;
}

.why-odoo-grid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: 20px;
}

.erp-card {
  padding: 1.5rem;
  border-radius: 2rem;
  background: #f5f7fa;

  /* Neumorphism */
  box-shadow:
    1px 1px 2px 0 rgba(255, 255, 255, 0.3) inset,
    -1px -1px 2px 0 rgba(235, 237, 240, 0.5) inset,
    -10px 10px 20px 0 rgba(235, 237, 240, 0.2),
    10px -10px 20px 0 rgba(235, 237, 240, 0.2),
    -10px -10px 20px 0 rgba(255, 255, 255, 0.9),
    10px 10px 25px 0 rgba(235, 237, 240, 0.9);
}

.erp-card-selected {
  padding: 1.5rem;
  border-radius: 2rem;
  border: 1px solid rgba(7, 182, 212, 0.32);
  background:
    linear-gradient(
      180deg,
      rgba(245, 247, 250, 0.22) 0.03%,
      rgba(7, 182, 212, 0.22) 153.06%
    ),
    #f5f7fa;

  /* Neumorphism */
  box-shadow:
    1px 1px 2px 0 rgba(255, 255, 255, 0.3) inset,
    -1px -1px 2px 0 rgba(235, 237, 240, 0.5) inset,
    -10px 10px 20px 0 rgba(235, 237, 240, 0.2),
    10px -10px 20px 0 rgba(235, 237, 240, 0.2),
    -10px -10px 20px 0 rgba(255, 255, 255, 0.9),
    10px 10px 25px 0 rgba(235, 237, 240, 0.9);
}

.selected {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wsp-button {
  position: fixed;
  top: 90%;
  right: 2%;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f7fa;
  border-radius: 50px;
  z-index: 9999;

  /* neu2 */
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
}

.carousel-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 128px;
  gap: 64px;
}

.carousel {
  width: 100%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 64px;
}

.carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 140px;
  z-index: 2;
  pointer-events: none;
}

.carousel::before {
  left: 0;
  background: linear-gradient(to right, var(--frost-500) 30%, transparent 100%);
}

.carousel::after {
  right: 0;
  background: linear-gradient(to left, var(--frost-500) 30%, transparent 100%);
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: carousel-scroll 20s linear infinite;
}

.carousel-item {
  flex: 0 0 144px;
  width: 144px;
  height: 183px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 20px;
  gap: 5px;
}

.icon {
  border-radius: 1.76319rem;
  background: #f4f5f7;
  padding: 1.5rem;

  align-items: center;

  /* neu2 */
  box-shadow:
    1px 1px 2px 0 rgba(255, 255, 255, 0.3) inset,
    -1px -1px 2px 0 rgba(229, 230, 232, 0.5) inset,
    -7px 7px 14px 0 rgba(229, 230, 232, 0.2),
    7px -7px 14px 0 rgba(229, 230, 232, 0.2),
    -7px -7px 14px 0 rgba(255, 255, 255, 0.9),
    7px 7px 18px 0 rgba(229, 230, 232, 0.9);
}

.service-text {
  color: var(--charcoal-500);
}

/* 10 elementos × (144px + 16px) */
@keyframes carousel-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-1640px);
  }
}

footer {
  width: 100%;
  height: fit-content;
  background:
    linear-gradient(176deg, #0ea5e9 14.29%, #09b2d9 117.99%, #07b6d4 153.4%),
    var(--frost-500, #f5f7fa);
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  width: 100%;
  max-width: 1200px;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  width: 48%;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.footer-right {
  width: 48%;
  display: flex;
  justify-content: end;
}

.logo {
  font-size: var(--text-4xl);
}

.white-text {
  width: 400px;
  font-size: var(--text-lg);
}

.footer-list {
  display: flex;
  gap: 3rem;
  list-style-type: none;
  height: fit-content;
}

.footer-item {
  font-size: var(--text-xl);
  transition: ease-in 300ms;
}

.footer-link {
  color: var(--frost-500);
  text-decoration: none;
}

.footer-item:hover {
  transform: scale(1.08);
}

@media (max-width: 1090px) {
  .odoo-hero {
    padding: 2rem;
  }
  .dashboard-icons {
    display: none;
  }
  .dashboard-image {
    width: 100%;
  }
}
